@font-face {
  font-family: 'TAN Mon Cheri';
  src: url('/fonts/tan-mon-cheri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de colores */
:root {
  --primary: #fee2ce;
  --secondary: #f58e8a;
  --accent: #2a3e91;
  --highlight: #90d3ef;
}

body {
  @apply font-display;
}
